body { background-color:#FFF5EE;	
	 }
h4 {color:#CC7722; 
}
td { color:#65350F;
	 font: Comic Sans MS;
	 text-align: center ;
	 font-size: 15;
	 border-color: blanchedalmond;
	 text-shadow: 5px 5px 5px burlywood;
	 text-decoration: underline	;
}
table { border-style: dashed;
		border-color: #D16002;
		border-width: 2;
		margin: auto;
		padding: 10px;
 }

